
.row
{
    display: flex;
}
.col{
    height:95px;
    width:95px;
    border: 2px solid black;
    background-color:hotpink;
    font-size: 100px;
    color: white;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.container {
    margin-top:140px;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}